In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('C:/Users/ss/Downloads/default of credit card clients.csv', encoding='cp949', header=1)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   LIMIT_BAL                   30000 non-null  int64
 1   SEX                         30000 non-null  int64
 2   EDUCATION                   30000 non-null  int64
 3   MARRIAGE                    30000 non-null  int64
 4   AGE                         30000 non-null  int64
 5   PAY_0                       30000 non-null  int64
 6   PAY_2                       30000 non-null  int64
 7   PAY_3                       30000 non-null  int64
 8   PAY_4                       30000 non-null  int64
 9   PAY_5                       30000 non-null  int64
 10  PAY_6                       30000 non-null  int64
 11  BILL_AMT1                   30000 non-null  int64
 12  BILL_AMT2                   30000 non-null  int64
 13  BILL_AMT3                   30000 non-null  int64
 14  BILL_AMT4                   30000 non-null  int64
 15  BILL_AMT5                   30000 non-null  int64
 16  BILL_AMT6                   30000 non-null  int64
 17  PAY_AMT1                    30000 non-null  int64
 18  PAY_AMT2                    30000 non-null  int64
 19  PAY_AMT3                    30000 non-null  int64
 20  PAY_AMT4                    30000 non-null  int64
 21  PAY_AMT5                    30000 non-null  int64
 22  PAY_AMT6                    30000 non-null  int64
 23  default payment next month  30000 non-null  int64
dtypes: int64(24)
memory usage: 5.5 MB

In [4]:
data = df.iloc[:,:-1]
target = df.iloc[:,-1]

In [5]:
from sklearn.preprocessing import StandardScaler

In [6]:
ss = StandardScaler()

In [7]:
data = ss.fit_transform(data)

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train, x_test, y_train, y_test = train_test_split(data, target, test_size=0.2, random_state=42)

In [10]:
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size=0.2, random_state=42)

In [11]:
x_train.shape, x_test.shape, x_val.shape

((19200, 23), (6000, 23), (4800, 23))

In [12]:
import tensorflow as tf

In [13]:
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras import Sequential

In [32]:
model = Sequential()

In [33]:
model.add(Dense(50, activation='relu', input_shape=(23,)))
model.add(Dense(100, activation='relu'))
model.add(Dense(150, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [34]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_16 (Dense)            (None, 50)                1200

 dense_17 (Dense)            (None, 100)               5100

 dense_18 (Dense)            (None, 150)               15150

 dense_19 (Dense)            (None, 1)                 151

=================================================================
Total params: 21,601
Trainable params: 21,601
Non-trainable params: 0
_________________________________________________________________

In [35]:
model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])

In [36]:
model.fit(x_train, y_train,epochs=10,validation_data=(x_val,y_val),validation_batch_size=50)

Epoch 1/10
600/600 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.7774 - val_loss: 0.0000e+00 - val_accuracy: 0.7760
Epoch 2/10
600/600 [==============================] - 1s 1ms/step - loss: 0.0000e+00 - accuracy: 0.7788 - val_loss: 0.0000e+00 - val_accuracy: 0.7760
Epoch 3/10
600/600 [==============================] - 1s 1ms/step - loss: 0.0000e+00 - accuracy: 0.7788 - val_loss: 0.0000e+00 - val_accuracy: 0.7760
Epoch 4/10
600/600 [==============================] - 1s 1ms/step - loss: 0.0000e+00 - accuracy: 0.7788 - val_loss: 0.0000e+00 - val_accuracy: 0.7760
Epoch 5/10
600/600 [==============================] - 1s 1ms/step - loss: 0.0000e+00 - accuracy: 0.7788 - val_loss: 0.0000e+00 - val_accuracy: 0.7760
Epoch 6/10
600/600 [==============================] - 1s 1ms/step - loss: 0.0000e+00 - accuracy: 0.7788 - val_loss: 0.0000e+00 - val_accuracy: 0.7760
Epoch 7/10
600/600 [==============================] - 1s 1ms/step - loss: 0.0000e+00 - accuracy: 0.7788 - val_loss: 0.0000e+00 - val_accuracy: 0.7760
Epoch 8/10
600/600 [==============================] - 1s 1ms/step - loss: 0.0000e+00 - accuracy: 0.7788 - val_loss: 0.0000e+00 - val_accuracy: 0.7760
Epoch 9/10
600/600 [==============================] - 1s 1ms/step - loss: 0.0000e+00 - accuracy: 0.7788 - val_loss: 0.0000e+00 - val_accuracy: 0.7760
Epoch 10/10
600/600 [==============================] - 1s 1ms/step - loss: 0.0000e+00 - accuracy: 0.7788 - val_loss: 0.0000e+00 - val_accuracy: 0.7760