# 1. 사전처리 + 분석
# 2. all-estimators
# 3. 교차검증 - K,St / LOOCV / 
    - 모델검증
    - 시간
# 4. 튜닝(Hyper - Parameter)
    - 가중치(모델 파라미터 w) 제어 위해 >> Ridge, Lasso
    - KNN - K

## 다양한 교차검증

- model_selection 모듈
    * cross_val_score()
    * cross_val_validate()
    * cross_val_predict()

In [12]:
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
import numpy as np
import pandas as pd

### [1] 데이터 로딩

In [2]:
iris = load_iris()

In [3]:
# Bunch 타입 => dict
data = iris['data']
target = iris['target']
featureName = iris['feature_names'] # 컬럼명
className = iris['target_names']

### [2] 모델 생성

In [11]:
lrModel = LogisticRegression(max_iter=500)

In [17]:
# 교차 검증으로 모델 학습 진행
# => 학습 데이터 기반 5개 Fold로 학습 & 검증 진행
result = cross_val_score(lrModel, data, target, cv=10)

In [19]:
# cv = n 개 모델에 대한 정확도(accuracy)
result

array([1.        , 0.93333333, 1.        , 1.        , 0.93333333,
       0.93333333, 0.93333333, 1.        , 1.        , 1.        ])

In [28]:
allResult = cross_validate(lrModel, data, target, return_train_score= True, cv=10)

In [29]:
allResult

{'fit_time': array([0.02997494, 0.02156115, 0.02126765, 0.01991439, 0.02004528,
        0.02197862, 0.02049041, 0.01596832, 0.01995611, 0.1585114 ]),
 'score_time': array([0.        , 0.        , 0.        , 0.00079918, 0.        ,
        0.        , 0.00100374, 0.        , 0.        , 0.        ]),
 'test_score': array([1.        , 0.93333333, 1.        , 1.        , 0.93333333,
        0.93333333, 0.93333333, 1.        , 1.        , 1.        ]),
 'train_score': array([0.97037037, 0.97777778, 0.97037037, 0.97037037, 0.97777778,
        0.97777778, 0.98518519, 0.97037037, 0.97037037, 0.97777778])}

In [30]:
resultDF = pd.DataFrame(allResult)

In [31]:
resultDF

   fit_time  score_time  test_score  train_score
0  0.029975    0.000000    1.000000     0.970370
1  0.021561    0.000000    0.933333     0.977778
2  0.021268    0.000000    1.000000     0.970370
3  0.019914    0.000799    1.000000     0.970370
4  0.020045    0.000000    0.933333     0.977778
5  0.021979    0.000000    0.933333     0.977778
6  0.020490    0.001004    0.933333     0.985185
7  0.015968    0.000000    1.000000     0.970370
8  0.019956    0.000000    1.000000     0.970370
9  0.158511    0.000000    1.000000     0.977778

In [32]:
from sklearn.model_selection import KFold, StratifiedKFold

In [36]:
## Splitter 객체 생성 - KFold()
kSplitter = KFold(n_splits=7, shuffle=True)
sSplitter = StratifiedKFold(n_splits=7, shuffle=True)

# parameter
# return_train_score  : 학습 데이터 평가 결과
# return_estimator
allResult = cross_validate(lrModel, data, target, return_train_score= True,
                           return_estimator=True,
                           cv = kSplitter)

In [38]:
allResultDF = pd.DataFrame(allResult)

In [39]:
allResultDF

,fit_time,score_time,estimator,test_score,train_score
0,0.024570,0.000000,LogisticRegression(max_iter=500),1.000000,0.976562
1,0.024303,0.000000,LogisticRegression(max_iter=500),1.000000,0.968750
2,0.018987,0.000000,LogisticRegression(max_iter=500),1.000000,0.968750
3,0.017876,0.000936,LogisticRegression(max_iter=500),1.000000,0.968992
4,0.016974,0.000000,LogisticRegression(max_iter=500),0.952381,0.976744
5,0.017954,0.001000,LogisticRegression(max_iter=500),0.857143,0.984496
6,0.017911,0.000325,LogisticRegression(max_iter=500),0.952381,0.984496