# 시리즈(Series) 타임 실습 -----------------------------------------

- Pandas의 1종류(1차원 배열 / 세로 벡터) 데이터를 저장하는 데이터 타입 (Type)  
- 생성 : Series 객체 생성

In [3]:
# 모듈 로딩 -----------------------------------------------------------
import pandas as pd

# Series 객체 생성
sr = pd.Series([1,2,3,4])

In [4]:
# 생성된 Series 객체 데이터 확인하기
sr.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
# Series 객체의 속성 Attribute 확인 => 객체 변수명, 속성명
sr.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
sr.values

array([1, 2, 3, 4], dtype=int64)

In [8]:
# 차원(dimension) 속성
sr.ndim

1

In [9]:
# 형(shape) 속성
sr.shape

(4,)

In [10]:
# 실제 사용 메모리 바이트 , 데이터 개수
sr.nbytes, sr.size

(32, 4)

In [12]:
# 여러 타입의 데이터로 Series 객체 형성
sr2 = pd.Series([1, 4, 'A', 4.5])
sr2

0      1
1      4
2      A
3    4.5
dtype: object

In [16]:
# Series 객체 속성 읽기
print(f'{sr2.index}, {sr2.values}, {sr2.array}')
print(type(sr2.values))

RangeIndex(start=0, stop=4, step=1), [1 4 'A' 4.5], <PandasArray>
[1, 4, 'A', 4.5]
Length: 4, dtype: object
<class 'numpy.ndarray'>

In [17]:
sr2

0      1
1      4
2      A
3    4.5
dtype: object

In [18]:
# Dict 데이터를 Series 객체 생성
sr3 = pd.Series({'name':'HONG', 'age':12, 'loc':'Daegu'})
sr3

name     HONG
age        12
loc     Daegu
dtype: object

In [19]:
# Series 객체 생성
sr=pd.Series(['a', 'b', 'c'], index=['하나', '둘', '셋'])
sr

하나    a
둘     b
셋     c
dtype: object

In [22]:
sr2=pd.Series(['a','b','c'])
sr2

0    a
1    b
2    c
dtype: object

In [23]:
# 인덱스 새로운 값으로 설정 => 객체변수명, 속성명 = 새로운 값
sr2.index=[11,22,33]
sr2

11    a
22    b
33    c
dtype: object

# 시리즈(Series) 객체의 원소/요소 다루기

- 방법 
    - 시리즈 객체.[인덱스 번호]
    - 시리즈 객체.[인덱스 라벨]

In [25]:
# 1번 원소 읽기
sr2[22]

'b'

In [26]:
sr2.index

Int64Index([11, 22, 33], dtype='int64')

In [27]:
# 문자형 인덱스로 새롭게 설정
sr2.index=['one','two','three']
sr2.index

Index(['one', 'two', 'three'], dtype='object')

In [29]:
sr2['two'], sr2[1], sr2['three'], sr2[2]

('b', 'b', 'c', 'c')

In [31]:
sr3=pd.Series({'name':'HONG','age':12})
sr3

name    HONG
age       12
dtype: object

In [32]:
sr3['age'],sr3['name']

(12, 'HONG')

In [33]:
sr3[0],sr3[1] #문자로 저장 돼 있기 때문에 기본 설정되어 있는 0 1 2 인덱스로 찾았을떄 나옴(정수로 바꿨을 때 인덱스 0 1 2로 검색 불가능)

('HONG', 12)

In [34]:
sr4 = pd.Series(('2022-06-30', 'Pandas', True, 4.55, 'No Work'))

In [35]:
sr4.index=['날짜', '과목', '불린', '실수', '희망사항']

In [36]:
sr4

날짜      2022-06-30
과목          Pandas
불린            True
실수            4.55
희망사항       No Work
dtype: object

In [39]:
sr4[1:]

과목       Pandas
불린         True
실수         4.55
희망사항    No Work
dtype: object

In [49]:
sr4[[0,3,4]]

날짜      2022-06-30
실수            4.55
희망사항       No Work
dtype: object

In [50]:
# (3) 1번요소부터 3번요소까지 요소값 출력
sr4[1:4]
sr4['과목':'희망사항'] # 인덱스 라벨은 끝 원소로 포함된다

과목       Pandas
불린         True
실수         4.55
희망사항    No Work
dtype: object