## 그룹화(Group) 실습 --------------------------------------------------------

- DF/SR.groupby() 메서드로 생성

- 그룹단위로 평균, 최대, 최소, 등과 같은 집계 메서드 적용

In [9]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    [
        ("bird", "Falconiformes", 389.0),
        ("bird", "Psittaciformes", 24.0),
        ("mammal", "Carnivora", 80.2),
        ("mammal", "Primates", np.nan),
        ("mammal", "Carnivora", 58),
    ],
    index=["falcon", "parrot", "lion", "monkey", "leopard"],
    columns=("class", "order", "max_speed"),
)
df

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [10]:
# 그룹 만들기 ------> 객체변수명.groupby(컬럼명)
classGroup = df.groupby(by='class')
classGroup

In [11]:
# 반복이 가능한 객체 -> for ~ in
for group in classGroup:
    print(group)

('bird',        class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0)
('mammal',           class      order  max_speed
lion     mammal  Carnivora       80.2
monkey   mammal   Primates        NaN
leopard  mammal  Carnivora       58.0)

In [12]:
for key, group in classGroup:
    print(f'KEY --- {key}')
    print(f'GROUP ---\n{group}')

KEY --- bird
GROUP ---
       class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0
KEY --- mammal
GROUP ---
          class      order  max_speed
lion     mammal  Carnivora       80.2
monkey   mammal   Primates        NaN
leopard  mammal  Carnivora       58.0

In [13]:
# Groupby 객체 속성 살펴보기
# 그룹키 : 요소 인덱스
classGroup.groups

{'bird': ['falcon', 'parrot'], 'mammal': ['lion', 'monkey', 'leopard']}

In [14]:
# 특정 그룹키에 해당하는 데이터만 추출 => get_group(키)

classGroup.get_group('bird')

       class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0

In [17]:
# 그룹 전체에 대한 메서드 적용 ------------------------------------------
classGroup.describe(include='all')

       order                                                           ...  \
       count unique            top freq mean  std  min  25%  50%  75%  ...
class                                                                  ...
bird       2      2  Falconiformes    1  NaN  NaN  NaN  NaN  NaN  NaN  ...
mammal     3      2      Carnivora    2  NaN  NaN  NaN  NaN  NaN  NaN  ...

       max_speed                                                           \
          unique top freq   mean         std   min     25%    50%     75%
class
bird         NaN NaN  NaN  206.5  258.093975  24.0  115.25  206.5  297.75
mammal       NaN NaN  NaN   69.1   15.697771  58.0   63.55   69.1   74.65


          max
class
bird    389.0
mammal   80.2

[2 rows x 22 columns]

In [18]:
classGroup.std()

         max_speed
class
bird    258.093975
mammal   15.697771

In [19]:
# 특정 그룹에 대한 것만 처리 -> get_group(키)
birdGroup = classGroup.get_group('bird')

In [22]:
# 집계함수를 한꺼번에 적용 => agg([함수명,함수명....]), axis=0)
birdGroup.agg(['min','max','sum'])

        class                        order  max_speed
min      bird                Falconiformes       24.0
max      bird               Psittaciformes      389.0
sum  birdbird  FalconiformesPsittaciformes      413.0

In [24]:
birdGroup.agg({'order':'max', 'max_speed':['min','sum']})

              order  max_speed
max  Psittaciformes        NaN
min             NaN       24.0
sum             NaN      413.0

In [28]:
# 사용자 정의 함수 ------------------------------
def getMaxMin(x):
    print(f'x-----------------{x}\n')
    return x.max() - x.min()
birdGroup.agg({'order':'max', 'max_speed':[getMaxMin]})

x-----------------389.0

x-----------------falcon    389.0
parrot     24.0
Name: max_speed, dtype: float64

                    order  max_speed
max        Psittaciformes        NaN
getMaxMin             NaN      365.0

In [30]:
# 그룹에서 필터링하기 -------------- filter(True/False)
birdGroup.filter(items=['order'])

                 order
falcon   Falconiformes
parrot  Psittaciformes

In [41]:
birdGroup.filter(like=['max_speed'>=300'])

SyntaxError: EOL while scanning string literal (3932791739.py, line 1)

In [35]:
birdGroup

       class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0