# DF 객체 연결하기 ----------------

- 여러개의 File에서 읽은 DF객체

- 메서드 실행 결과 DF객체

- 여러개의 DF객체를 연결 시켜서 (join outer () > 디폴트 값
                                      inner (교집합)
                                      ignore index=true 인덱스 새                                       로 지정

In [20]:
import pandas as pd

DIR_PATH = '../../Data/'
FILE_NAME1 = DIR_PATH+'concat_1.csv'
FILE_NAME2 = DIR_PATH+'concat_2.csv'
FILE_NAME3 = DIR_PATH+'concat_3.csv'

In [21]:
csvDF1 = pd.read_csv(FILE_NAME1)
csvDF2 = pd.read_csv(FILE_NAME2)
csvDF3 = pd.read_csv(FILE_NAME3)

In [22]:
# DF 객체들 연결하기 => pandas.concat([df1, df2...])
# 행방향 연결, 기본 인덱스 유지, 컬럼 합집합 => join ='outer'
df=pd.concat([csvDF1,csvDF2,csvDF3])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       12 non-null     object
 1   B       12 non-null     object
 2   C       12 non-null     object
 3   D       12 non-null     object
 4   E       4 non-null      object
dtypes: object(5)
memory usage: 576.0+ bytes

In [23]:
df.head()

    A   B   C   D    E
0  a0  b0  c0  d0  NaN
1  a1  b1  c1  d1  NaN
2  a2  b2  c2  d2  NaN
3  a3  b3  c3  d3  NaN
0  a4  b4  c4  d4  NaN

In [24]:
# DF 객체들 연결하기 => pandas.concat([df1, df2...])
# 행방향 연결, 기본 인덱스 유지, 컬럼 합집합 => join ='outer'
df2=pd.concat([csvDF1,csvDF2,csvDF3], join='inner')
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       12 non-null     object
 1   B       12 non-null     object
 2   C       12 non-null     object
 3   D       12 non-null     object
dtypes: object(4)
memory usage: 480.0+ bytes

# df2.head()

In [26]:
df.index, df2.columns

(Int64Index([0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3], dtype='int64'),
 Index(['A', 'B', 'C', 'D'], dtype='object'))

In [27]:
# DF 객체들 연결하기 => pandas.concat([df1, df2...])
# 행방향 연결, 기본 인덱스 유지, 컬럼 합집합 => join ='outer'
df3=pd.concat([csvDF1,csvDF2,csvDF3], join='inner', ignore_index=True)
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       12 non-null     object
 1   B       12 non-null     object
 2   C       12 non-null     object
 3   D       12 non-null     object
dtypes: object(4)
memory usage: 512.0+ bytes

In [32]:
# DF 객체를 열방향으로 연결 => concat()

pd.concat([csvDF1,csvDF2,csvDF3], axis=1, ignore_index=True)

   0   1   2   3   4   5   6   7    8    9    10   11   12
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8   e8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9   e9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10  e10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11  e11