# 중복 데이터(레코드, 엔트리, 관측값, 행) 처리 ---

- 중복 여부 체크 : duplicated()
                    - keep
                    - subset

- 중복 제거 : drop_duplicates()

In [7]:
import pandas as pd

df=pd.DataFrame([[1,2,3],[1,2,1],[1,2,3]], columns=['a','b','c'])
df

   a  b  c
0  1  2  3
1  1  2  1
2  1  2  3

In [8]:
# 중복 데이터(행 row) 체크 => duplicated() 
# n번 앞에 중복된 인덱스가 있는지 디폴트 값 = first
df.duplicated()

0    False
1    False
2     True
dtype: bool

In [9]:
df.duplicated(keep='last')

0     True
1    False
2    False
dtype: bool

In [10]:
df.duplicated(keep=False) # 중복된 인덱스 모두 True

0     True
1    False
2     True
dtype: bool

In [11]:
# 특정 컬럼의 동일 여부 설정 => subset=[컬럼명]
df.duplicated(subset=['b'])

0    False
1     True
2     True
dtype: bool

In [12]:
# (2) 중복 제거하기 => drop_duplicates(subset, keep)
df.drop_duplicates()

   a  b  c
0  1  2  3
1  1  2  1

In [13]:
df.drop_duplicates(subset=['b'])

   a  b  c
0  1  2  3