# PANDAS DATE-TIME 다루기 ----------------

In [77]:
# 모듈 로딩 --------------------------------------------------------
import pandas as pd
from datetime import datetime 

# DF 객체 생성
df = pd.DataFrame({'year':[2021,2022],
                   'month':[11,12],
                   'day':[1,24]})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    2 non-null      int64
 1   month   2 non-null      int64
 2   day     2 non-null      int64
dtypes: int64(3)
memory usage: 176.0 bytes

In [55]:
df.dtypes

year     int64
month    int64
day      int64
dtype: object

In [56]:
# DateTime으로 변환 => pandas.to_datetime() # datetime64 타입
result = pd.to_datetime(df)

print(type(result), result, sep='\n')

<class 'pandas.core.series.Series'>
0   2021-11-01
1   2022-12-24
dtype: datetime64[ns]

In [57]:
one = result[0]
type(one) # 시리즈 하나만 뺴와서 timestamp 타입

pandas._libs.tslibs.timestamps.Timestamp

In [58]:
one.day, one.month, one.year

(1, 11, 2021)

# 타입 및 다른 포맷 변환 메서드들. to_변환타입()

In [59]:
# 데이터프레임으로 변환
result.to_frame()

           0
0 2021-11-01
1 2022-12-24

In [60]:
result.to_list()

[Timestamp('2021-11-01 00:00:00'), Timestamp('2022-12-24 00:00:00')]

In [61]:
result.to_string()

'0   2021-11-01\n1   2022-12-24'

In [62]:
result.to_csv('result.csv')

In [63]:
result.to_json('result.jsson')

## CSV 파일 활용 실습---------------------------------

- 날짜 데이터가 있는 CSV 파일 처리하기

In [70]:
DIR_PATH = '../../Data/'
FILE_NAME = DIR_PATH+'survey_visited.csv'

In [71]:
svDF = pd.read_csv(FILE_NAME)
svDF.fillna(method='ffill', inplace=True)
svDF

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3  1930-02-26
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [72]:
svDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ident   8 non-null      int64
 1   site    8 non-null      object
 2   dated   8 non-null      object
dtypes: int64(1), object(2)
memory usage: 320.0+ bytes

In [84]:
pd.to_datetime(svDF['dated'])

0   1927-02-08
1   1927-02-10
2   1939-01-07
3   1930-01-12
4   1930-02-26
5   1930-02-26
6   1932-01-14
7   1932-03-22
Name: dated, dtype: datetime64[ns]

In [86]:
svDF['dated']=pd.to_datetime(svDF['dated'])

In [90]:
svDF['dated'].dt.year, svDF['dated'].dt.month

(0    1927
 1    1927
 2    1939
 3    1930
 4    1930
 5    1930
 6    1932
 7    1932
 Name: dated, dtype: int64,
 0    2
 1    2
 2    1
 3    1
 4    2
 5    2
 6    1
 7    3
 Name: dated, dtype: int64)

In [92]:
dateSR = svDF['dated']
dateSR

0   1927-02-08
1   1927-02-10
2   1939-01-07
3   1930-01-12
4   1930-02-26
5   1930-02-26
6   1932-01-14
7   1932-03-22
Name: dated, dtype: datetime64[ns]

In [94]:
dateSR[dateSR.dt.year>=1903]

0   1927-02-08
1   1927-02-10
2   1939-01-07
3   1930-01-12
4   1930-02-26
5   1930-02-26
6   1932-01-14
7   1932-03-22
Name: dated, dtype: datetime64[ns]