# 뉴욕시의 Taxi 데이터 활용한 예측 모델

    - 데이터셋 : NYC_Taxi
    - 조건 : 뉴욕시 내
    - 거리에 따른 요금 예측 ==> 회귀
        * 조건 : 뉴욕시 내
    - 승차에 따른 하차지역 예측 ==> 분류(KNN or 로지스틱)

In [54]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [60]:
df = pd.read_csv('../../Data/train.csv', nrows = 50000)

In [61]:
df['distance'] = ((df['dropoff_longitude'] - df['pickup_longitude'])**2 + (df['dropoff_latitude'] - df['pickup_latitude'])**2)**0.5

In [62]:
train_input, test_input, train_target, test_target = train_test_split(np.array(df['distance']), np.array(df['fare_amount']), random_state=42)

In [63]:
df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,distance
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1,0.009436
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1,0.079696
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2,0.013674
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1,0.025340
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1,0.019470

In [64]:
train_input = train_input.reshape(-1,1)
test_input = test_input.reshape(-1,1)

In [65]:
lr = LogisticRegression()

In [66]:
lr.fit(train_input, train_target)

ValueError: Unknown label type: 'continuous'