In [323]:
import pandas as pd
import numpy as np

## 파일 불러오기

In [324]:
df = pd.read_csv('C:/Users/ss/Downloads/auto-mpg.data', header=None, sep = '\s+',names= ['mpg','cylinders','displacement','horsepower','weight','acceleration','model year','origin','car name'])

In [325]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

## 데이터 전처리

In [326]:
df.mpg = df.mpg*0.425

In [327]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [328]:
df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [329]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [330]:
df.horsepower.unique()

array(['130.0', '165.0', '150.0', '140.0', '198.0', '220.0', '215.0',
       '225.0', '190.0', '170.0', '160.0', '95.00', '97.00', '85.00',
       '88.00', '46.00', '87.00', '90.00', '113.0', '200.0', '210.0',
       '193.0', '?', '100.0', '105.0', '175.0', '153.0', '180.0', '110.0',
       '72.00', '86.00', '70.00', '76.00', '65.00', '69.00', '60.00',
       '80.00', '54.00', '208.0', '155.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

In [331]:
df[df['horsepower']!='?'].horsepower.astype('float64').describe()

count    392.000000
mean     104.469388
std       38.491160
min       46.000000
25%       75.000000
50%       93.500000
75%      126.000000
max      230.000000
Name: horsepower, dtype: float64

In [332]:
df.horsepower = df.horsepower.replace('?',104.46)

In [333]:
df.horsepower.unique()

array(['130.0', '165.0', '150.0', '140.0', '198.0', '220.0', '215.0',
       '225.0', '190.0', '170.0', '160.0', '95.00', '97.00', '85.00',
       '88.00', '46.00', '87.00', '90.00', '113.0', '200.0', '210.0',
       '193.0', 104.46, '100.0', '105.0', '175.0', '153.0', '180.0',
       '110.0', '72.00', '86.00', '70.00', '76.00', '65.00', '69.00',
       '60.00', '80.00', '54.00', '208.0', '155.0', '112.0', '92.00',
       '145.0', '137.0', '158.0', '167.0', '94.00', '107.0', '230.0',
       '49.00', '75.00', '91.00', '122.0', '67.00', '83.00', '78.00',
       '52.00', '61.00', '93.00', '148.0', '129.0', '96.00', '71.00',
       '98.00', '115.0', '53.00', '81.00', '79.00', '120.0', '152.0',
       '102.0', '108.0', '68.00', '58.00', '149.0', '89.00', '63.00',
       '48.00', '66.00', '139.0', '103.0', '125.0', '133.0', '138.0',
       '135.0', '142.0', '77.00', '62.00', '132.0', '84.00', '64.00',
       '74.00', '116.0', '82.00'], dtype=object)

In [334]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [335]:
df.horsepower.astype('float64')

0      130.0
1      165.0
2      150.0
3      150.0
4      140.0
       ...
393     86.0
394     52.0
395     84.0
396     79.0
397     82.0
Name: horsepower, Length: 398, dtype: float64

In [336]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

## LabelEncoder

In [337]:
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [338]:
le = LabelEncoder()
df['cylinders'] = le.fit_transform(df['cylinders'])
df['model year'] = le.fit_transform(df['model year'])
df['origin'] = le.fit_transform(df['origin'])

In [339]:
from sklearn.model_selection import train_test_split

In [340]:
data = df.iloc[:,1:-1]

In [341]:
target = df.iloc[:,0]

In [342]:
data.head()

,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,4,307.0,130.0,3504.0,12.0,0,0
1,4,350.0,165.0,3693.0,11.5,0,0
2,4,318.0,150.0,3436.0,11.0,0,0
3,4,304.0,150.0,3433.0,12.0,0,0
4,4,302.0,140.0,3449.0,10.5,0,0

In [344]:
data['model year'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

## data, target 분리

In [345]:
train_input, test_input, train_target, test_target = train_test_split(data, target, test_size=0.2, random_state=42)

## 스케일링

In [346]:
ss = StandardScaler()
train_input_scaled = ss.fit_transform(train_input)
test_input_scaled = ss.transform(test_input)

## All_estimators

In [347]:
from sklearn.utils import all_estimators

In [348]:
models = all_estimators(type_filter='regressor')

In [349]:
# 경고무시
import warnings
warnings.filterwarnings('ignore')

scores = []
for name, model in models:
    
        try:
        # 모델 객체 생성
            md = model()
        # 학습
            md.fit(train_input_scaled, train_target)
        # 평가
            scores.append((name,md.score(train_input_scaled, train_target),md.score(test_input_scaled, test_target)))
                    
        except :
            pass

In [350]:
scores

[('ARDRegression', 0.8148888934784608, 0.8503904853352313),
 ('AdaBoostRegressor', 0.8987225051431793, 0.8552240477809586),
 ('BaggingRegressor', 0.9708957017159118, 0.8783414515861484),
 ('BayesianRidge', 0.8164689588382045, 0.858320060221681),
 ('CCA', 0.7985089276808673, 0.8117091610903427),
 ('DecisionTreeRegressor', 1.0, 0.7895969268006497),
 ('DummyRegressor', 0.0, -0.004033263418077082),
 ('ElasticNet', 0.7130576982112806, 0.7891468727501993),
 ('ElasticNetCV', 0.8165400969078478, 0.8579523025263125),
 ('ExtraTreeRegressor', 0.9995987440436203, 0.8335950943379996),
 ('ExtraTreesRegressor', 0.9999997812151897, 0.9005690505613919),
 ('GammaRegressor', 0.809113971583803, 0.8545370954700533),
 ('GaussianProcessRegressor', 0.9999999999999993, 0.22886705258296525),
 ('GradientBoostingRegressor', 0.9721406835479339, 0.9068198465214696),
 ('HistGradientBoostingRegressor', 0.9632826475407255, 0.9075431123075165),
 ('HuberRegressor', 0.8099689998256407, 0.8661600593476458),
 ('KNeighborsRegressor', 0.8968105304704689, 0.8993440030148916),
 ('KernelRidge', -8.072945465349804, -9.59523266639111),
 ('Lars', 0.8167716267023879, 0.8594254678934102),
 ('LarsCV', 0.8085294548216081, 0.8501755116238566),
 ('Lasso', 0.6689934514940197, 0.7397660321376567),
 ('LassoCV', 0.8167100590132363, 0.8584792770811565),
 ('LassoLars', 0.0, -0.004033263418077082),
 ('LassoLarsCV', 0.8167716267023879, 0.8594254678934102),
 ('LassoLarsIC', 0.8167716267023879, 0.8594254678934102),
 ('LinearRegression', 0.8167716267023879, 0.8594254678934102),
 ('LinearSVR', 0.7990692832098328, 0.8558065432540212),
 ('MLPRegressor', 0.7613982278507461, 0.7557919264739494),
 ('NuSVR', 0.875052309868737, 0.8928064829853044),
 ('OrthogonalMatchingPursuit', 0.6844798112332582, 0.7229710573030748),
 ('OrthogonalMatchingPursuitCV', 0.8115258053074388, 0.8409091133498285),
 ('PLSCanonical', -0.8327838974521495, -1.5613466632150006),
 ('PLSRegression', 0.7934455955339148, 0.8309373709842175),
 ('PassiveAggressiveRegressor', 0.4258018671928441, 0.4145734440083786),
 ('PoissonRegressor', 0.8591837449509465, 0.8891405243176373),
 ('QuantileRegressor', -0.019926746696173447, -0.007907923621216284),
 ('RANSACRegressor', 0.7973611140643989, 0.8440519505333491),
 ('RadiusNeighborsRegressor', 0.9083649005600047, 0.9061455623375246),
 ('RandomForestRegressor', 0.9806059768377524, 0.8954261069665779),
 ('Ridge', 0.8166806864943932, 0.8588651064273443),
 ('RidgeCV', 0.8166806864943925, 0.8588651064274186),
 ('SGDRegressor', 0.8129912823319898, 0.849645272798792),
 ('SVR', 0.871113548757736, 0.8896062127458233),
 ('TheilSenRegressor', 0.8030030285945671, 0.841614410502404),
 ('TransformedTargetRegressor', 0.8167716267023879, 0.8594254678934102),
 ('TweedieRegressor', 0.7456811555111567, 0.8175876964521861)]

## RMSE(All Model)

In [351]:
from sklearn.metrics import *

In [352]:
# 경고무시
import warnings
warnings.filterwarnings('ignore')

RMSE_list = []
for name, model in models:
    try:
        # 모델 객체 생성
        md = model()
        # 학습
        md.fit(train_input_scaled, train_target)
        # 평가
        RMSE = np.sqrt(mean_squared_error(test_target, md.predict(test_input_scaled)))
        RMSE_list.append((name, RMSE))        
    except :
        pass

In [353]:
RMSE_list

[('ARDRegression', 1.2053805880573714),
 ('AdaBoostRegressor', 1.133225813817384),
 ('BaggingRegressor', 1.087613529993536),
 ('BayesianRidge', 1.1730020412758706),
 ('CCA', 1.3522568226106495),
 ('DecisionTreeRegressor', 1.4559196782017199),
 ('DummyRegressor', 3.122616402596289),
 ('ElasticNet', 1.4309834448013217),
 ('ElasticNetCV', 1.1745234315229767),
 ('ExtraTreeRegressor', 1.8775310000769625),
 ('ExtraTreesRegressor', 1.0107917877832224),
 ('GammaRegressor', 1.2494263437111097),
 ('GaussianProcessRegressor', 2.7365867236474006),
 ('GradientBoostingRegressor', 0.9625481845250181),
 ('HistGradientBoostingRegressor', 0.9475763679183716),
 ('HuberRegressor', 1.1400855828977192),
 ('KNeighborsRegressor', 0.9886997253337335),
 ('KernelRidge', 10.143780316028991),
 ('Lars', 1.1684171137035009),
 ('LarsCV', 1.2062462820671718),
 ('Lasso', 1.5897417426914402),
 ('LassoCV', 1.1723427588091433),
 ('LassoLars', 3.122616402596289),
 ('LassoLarsCV', 1.1684171137035009),
 ('LassoLarsIC', 1.1684171137035009),
 ('LinearRegression', 1.168417113703501),
 ('LinearSVR', 1.1859156053714255),
 ('MLPRegressor', 1.643463442014584),
 ('NuSVR', 1.020302254435022),
 ('OrthogonalMatchingPursuit', 1.6402390922667078),
 ('OrthogonalMatchingPursuitCV', 1.2429888623731375),
 ('PLSCanonical', 4.987452435449125),
 ('PLSRegression', 1.2813518350496116),
 ('PassiveAggressiveRegressor', 1.398827689598605),
 ('PoissonRegressor', 1.0263990037605262),
 ('QuantileRegressor', 3.1286358381770873),
 ('RANSACRegressor', 1.4146445648945534),
 ('RadiusNeighborsRegressor', 0.954711144209424),
 ('RandomForestRegressor', 0.915456173232436),
 ('Ridge', 1.1707435832757445),
 ('RidgeCV', 1.1707435832754358),
 ('SGDRegressor', 1.2154248830300798),
 ('SVR', 1.035420841658443),
 ('TheilSenRegressor', 1.2392771710110606),
 ('TransformedTargetRegressor', 1.168417113703501),
 ('TweedieRegressor', 1.3309803689304813)]

In [354]:
from sklearn.ensemble import RandomForestRegressor

In [355]:
rfr = RandomForestRegressor()

In [356]:
rfr.fit(train_input_scaled, train_target)

RandomForestRegressor()

In [357]:
print(rfr.score(train_input_scaled, train_target))
print(rfr.score(test_input_scaled, test_target))

0.9800052841819603
0.9104322568293349

In [358]:
from sklearn.model_selection import GridSearchCV

In [359]:
param_grid = {'max_depth' : [5, 10, 15],
               'n_estimators' : [100, 300, 500]}

In [360]:
grid_search_rfr = GridSearchCV(rfr, param_grid, cv=5, return_train_score=True)

In [361]:
grid_search_rfr.fit(train_input_scaled, train_target)

GridSearchCV(cv=5, estimator=RandomForestRegressor(),
             param_grid={'max_depth': [5, 10, 15],
                         'n_estimators': [100, 300, 500]},
             return_train_score=True)

In [362]:
grid_search_rfr.best_score_

0.8508465497704998

In [363]:
grid_search_rfr.best_estimator_

RandomForestRegressor(max_depth=10)

In [364]:
rfrmodel = grid_search_rfr.best_estimator_

In [365]:
print(rfrmodel.score(train_input_scaled,train_target))
print(rfrmodel.score(test_input_scaled,test_target))

0.9796961844511409
0.9021640967343268

In [366]:
pred=rfrmodel.predict(ss.transform(data))

In [367]:
pred = pred.reshape(-1,1)

In [368]:
pred =pd.DataFrame(pred)

## 예측값, 실제 데이터 비교

In [369]:
pd.concat([pred,pd.DataFrame(target)],axis=1)

             0     mpg
0     6.971271   7.650
1     6.370315   6.375
2     7.275304   7.650
3     6.889334   6.800
4     7.226528   7.225
..         ...     ...
393  11.960538  11.475
394  15.987553  18.700
395  13.622382  13.600
396  12.441608  11.900
397  12.703188  13.175

[398 rows x 2 columns]

## RMSE

In [370]:
np.sqrt(mean_squared_error(test_target, rfr.predict(test_input_scaled)))

0.9326536663685113

## MAE

In [371]:
mean_absolute_error(test_target, rfr.predict(test_input_scaled))

0.6840056249999997

## R SQUARED

In [372]:
rfrmodel.score(ss.transform(data),target)

0.9659570854844927