# 결측치(Missing Value) 처리 실습-------

- 결측치(Missing Value)란?
    : 값이 들어있지 않는 것으로 NaN, Na로 표기
    
- 관련 메서드
    - 체크 : isnull(), notnull(), isna(), notna()
    - 삭제 : dropna()
    - 치환 : fillna()

In [2]:
import pandas as pd
DIR_PATH = '../../Data/'
FILR_NAME = DIR_PATH + 'weather.csv'

dfWeather = pd.read_csv(FILR_NAME)
dfWeather

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
dfWeather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 35 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       22 non-null     object
 1   year     22 non-null     int64
 2   month    22 non-null     int64
 3   element  22 non-null     object
 4   d1       2 non-null      float64
 5   d2       4 non-null      float64
 6   d3       4 non-null      float64
 7   d4       2 non-null      float64
 8   d5       8 non-null      float64
 9   d6       2 non-null      float64
 10  d7       2 non-null      float64
 11  d8       2 non-null      float64
 12  d9       0 non-null      float64
 13  d10      2 non-null      float64
 14  d11      2 non-null      float64
 15  d12      0 non-null      float64
 16  d13      2 non-null      float64
 17  d14      4 non-null      float64
 18  d15      2 non-null      float64
 19  d16      2 non-null      float64
 20  d17      2 non-null      float64
 21  d18      0 non-null      float64
 22  d19      0 non-null      float64
 23  d20      0 non-null      float64
 24  d21      0 non-null      float64
 25  d22      0 non-null      float64
 26  d23      4 non-null      float64
 27  d24      0 non-null      float64
 28  d25      2 non-null      float64
 29  d26      2 non-null      float64
 30  d27      6 non-null      float64
 31  d28      2 non-null      float64
 32  d29      4 non-null      float64
 33  d30      2 non-null      float64
 34  d31      2 non-null      float64
dtypes: float64(31), int64(2), object(2)
memory usage: 6.1+ KB

In [4]:
# 결측치 갯수 파악 ------------------------------------
dfWeather.isnull().sum() #True 값 더해서 sum

id          0
year        0
month       0
element     0
d1         20
d2         18
d3         18
d4         20
d5         14
d6         20
d7         20
d8         20
d9         22
d10        20
d11        20
d12        22
d13        20
d14        18
d15        20
d16        20
d17        20
d18        22
d19        22
d20        22
d21        22
d22        22
d23        18
d24        22
d25        20
d26        20
d27        16
d28        20
d29        18
d30        20
d31        20
dtype: int64

In [5]:
oneMonth = dfWeather.iloc[:2,]
oneMonth

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN

In [6]:
oneMonth.dropna(axis=1, how = 'all')

        id  year  month element   d30
0  MX17004  2010      1    tmax  27.8
1  MX17004  2010      1    tmin  14.5

In [7]:
# 2월의 최고 - 최저온도 출력
twoMonth = dfWeather.iloc[2:4,].dropna(axis=1, how= 'all')
twoMonth

        id  year  month element    d2    d3   d11   d23
2  MX17004  2010      2    tmax  27.3  24.1  29.7  29.9
3  MX17004  2010      2    tmin  14.4  14.4  13.4  10.7

In [8]:
#과제 0704-(1) 2010년 1월~12월까지 최고온도-최저온도 데이터 추출

### 처리방법 - (2) 치환

In [9]:
dfWeather = pd.read_csv(FILR_NAME)
dfWeather.max()

id         MX17004
year          2010
month           12
element       tmin
d1            29.9
d2            31.3
d3            28.6
d4            27.2
d5            32.1
d6            27.8
d7            28.1
d8            29.0
d9             NaN
d10           34.5
d11           29.7
d12            NaN
d13           29.8
d14           29.9
d15           28.7
d16           31.1
d17           28.0
d18            NaN
d19            NaN
d20            NaN
d21            NaN
d22            NaN
d23           29.9
d24            NaN
d25           29.7
d26           28.1
d27           36.3
d28           31.2
d29           30.1
d30           27.8
d31           25.4
dtype: object

In [30]:
# (2) NaN 데이터를 다른 값으로 치환(변경)하기 => fillna()
dfWeather.fillna(0)

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.8,0.0
1,MX17004,2010,1,tmin,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.5,0.0
2,MX17004,2010,2,tmax,0.0,27.3,24.1,0.0,0.0,0.0,...,0.0,29.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,MX17004,2010,2,tmin,0.0,14.4,14.4,0.0,0.0,0.0,...,0.0,10.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,MX17004,2010,3,tmax,0.0,0.0,0.0,0.0,32.1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,MX17004,2010,3,tmin,0.0,0.0,0.0,0.0,14.2,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,MX17004,2010,4,tmax,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,36.3,0.0,0.0,0.0,0.0
7,MX17004,2010,4,tmin,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,16.7,0.0,0.0,0.0,0.0
8,MX17004,2010,5,tmax,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,33.2,0.0,0.0,0.0,0.0
9,MX17004,2010,5,tmin,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,18.2,0.0,0.0,0.0,0.0
10,MX17004,2010,6,tmax,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.1,0.0,0.0
11,MX17004,2010,6,tmin,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,0.0,0.0
12,MX17004,2010,7,tmax,0.0,0.0,28.6,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,MX17004,2010,7,tmin,0.0,0.0,17.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,MX17004,2010,8,tmax,0.0,0.0,0.0,0.0,29.6,0.0,...,0.0,26.4,0.0,29.7,0.0,0.0,0.0,28.0,0.0,25.4
15,MX17004,2010,8,tmin,0.0,0.0,0.0,0.0,15.8,0.0,...,0.0,15.0,0.0,15.6,0.0,0.0,0.0,15.3,0.0,15.4
16,MX17004,2010,10,tmax,0.0,0.0,0.0,0.0,27.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,31.2,0.0,0.0,0.0
17,MX17004,2010,10,tmin,0.0,0.0,0.0,0.0,14.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0
18,MX17004,2010,11,tmax,0.0,31.3,0.0,27.2,26.3,0.0,...,0.0,0.0,0.0,0.0,28.1,27.7,0.0,0.0,0.0,0.0
19,MX17004,2010,11,tmin,0.0,16.3,0.0,12.0,7.9,0.0,...,0.0,0.0,0.0,0.0,12.1,14.2,0.0,0.0,0.0,0.0
20,MX17004,2010,12,tmax,29.9,0.0,0.0,0.0,0.0,27.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,MX17004,2010,12,tmin,13.8,0.0,0.0,0.0,0.0,10.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
dfWeather.fillna(method='ffill')

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
4,MX17004,2010,3,tmax,NaN,14.4,14.4,NaN,32.1,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
5,MX17004,2010,3,tmin,NaN,14.4,14.4,NaN,14.2,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
6,MX17004,2010,4,tmax,NaN,14.4,14.4,NaN,14.2,NaN,...,NaN,10.7,NaN,NaN,NaN,36.3,NaN,NaN,14.5,NaN
7,MX17004,2010,4,tmin,NaN,14.4,14.4,NaN,14.2,NaN,...,NaN,10.7,NaN,NaN,NaN,16.7,NaN,NaN,14.5,NaN
8,MX17004,2010,5,tmax,NaN,14.4,14.4,NaN,14.2,NaN,...,NaN,10.7,NaN,NaN,NaN,33.2,NaN,NaN,14.5,NaN
9,MX17004,2010,5,tmin,NaN,14.4,14.4,NaN,14.2,NaN,...,NaN,10.7,NaN,NaN,NaN,18.2,NaN,NaN,14.5,NaN
10,MX17004,2010,6,tmax,NaN,14.4,14.4,NaN,14.2,NaN,...,NaN,10.7,NaN,NaN,NaN,18.2,NaN,30.1,14.5,NaN
11,MX17004,2010,6,tmin,NaN,14.4,14.4,NaN,14.2,NaN,...,NaN,10.7,NaN,NaN,NaN,18.2,NaN,18.0,14.5,NaN
12,MX17004,2010,7,tmax,NaN,14.4,28.6,NaN,14.2,NaN,...,NaN,10.7,NaN,NaN,NaN,18.2,NaN,18.0,14.5,NaN
13,MX17004,2010,7,tmin,NaN,14.4,17.5,NaN,14.2,NaN,...,NaN,10.7,NaN,NaN,NaN,18.2,NaN,18.0,14.5,NaN
14,MX17004,2010,8,tmax,NaN,14.4,17.5,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,18.2,NaN,28.0,14.5,25.4
15,MX17004,2010,8,tmin,NaN,14.4,17.5,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,18.2,NaN,15.3,14.5,15.4
16,MX17004,2010,10,tmax,NaN,14.4,17.5,NaN,27.0,NaN,...,NaN,15.0,NaN,15.6,NaN,18.2,31.2,15.3,14.5,15.4
17,MX17004,2010,10,tmin,NaN,14.4,17.5,NaN,14.0,NaN,...,NaN,15.0,NaN,15.6,NaN,18.2,15.0,15.3,14.5,15.4
18,MX17004,2010,11,tmax,NaN,31.3,17.5,27.2,26.3,NaN,...,NaN,15.0,NaN,15.6,28.1,27.7,15.0,15.3,14.5,15.4
19,MX17004,2010,11,tmin,NaN,16.3,17.5,12.0,7.9,NaN,...,NaN,15.0,NaN,15.6,12.1,14.2,15.0,15.3,14.5,15.4
20,MX17004,2010,12,tmax,29.9,16.3,17.5,12.0,7.9,27.8,...,NaN,15.0,NaN,15.6,12.1,14.2,15.0,15.3,14.5,15.4
21,MX17004,2010,12,tmin,13.8,16.3,17.5,12.0,7.9,10.5,...,NaN,15.0,NaN,15.6,12.1,14.2,15.0,15.3,14.5,15.4